body {
    margin-top: 10%;
    text-align: center;
}

h1 {
     color: #ff2c06;
 }

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tomate {
    width: 200px;
    height: 180px;
    background: #ff2c06;
    border-radius: 50%;
    margin: 60px auto;
    position: relative;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius:58%;
    border-bottom-right-radius: 55%;
}

.login_leaf_class {
    border:solid rgb(157, 235, 105) 20px;
    border-top-left-radius:70%;
    border-bottom-right-radius:70%;
}

.leaf_left {
    margin-top: -156px;
    margin-right: 40px;
    position: absolute;
    transform: rotate(40deg);
}

.leaf_right {
    margin-top: -159px;
    margin-left:40px;
    position: absolute;
    transform: rotate(-120deg);
}

.leaf_center {
    margin-top: -129px;
    margin-left:0px;
    position: absolute;
    transform: rotate(-40deg);
}

.branch {
    margin-top: -180px;
    margin-left: 0px;
    height: 20px;
    border-left: 13px solid rgb(165,42,42);
    border-top-left-radius:50%;
    border-bottom-right-radius:50%;
    position: absolute;
}

.buttons {
    display: block;
    cursor: pointer;
}

.footer {
    position: relative;
    text-align: center;
}